.errorComponent {
  h1 {
    font-size: 64px;
  }
  h2 {
    margin-top: 44px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  p {
    margin-top: 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
}
