.header {
  margin-top: 58px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding-top: 40px;
  .fontAndTheme {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .verticalDivider {
    margin-left: 20px;
    margin-right: 26px;
    width: 1px;
    height: 32px;
    background-color: #e9e9e9;
  }
}
